body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Paragraph-Style-1 {
	color:#000000;
	font-family:"Minion Pro Cond", serif;
	font-size:12px;
	font-style:italic;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.CharOverride-1 {
	font-family:"TH Baijam", sans-serif;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	display:inline-block;
	height:206px;
	position:relative;
	width:506px;
}
#_idContainer001 {
	display:inline-block;
	height:243px;
	position:relative;
	width:506px;
}
#_idContainer002 {
	display:inline-block;
	height:263px;
	position:relative;
	width:506px;
}
#_idContainer006 {
	display:inline-block;
	height:154px;
	width:229px;
}
#_idContainer007, #_idContainer011 {
	display:inline-block;
	height:148px;
	width:223px;
}
#_idContainer008 {
	display:inline-block;
	height:148px;
	width:219px;
}
#_idContainer009 {
	display:inline-block;
	height:148px;
	width:231px;
}
#_idContainer010 {
	display:inline-block;
	height:154px;
	width:231px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
